@using ToSic.Oqt.Themes.ToShineBs5.Client.Nav
@inherits MenuItemsBase
@*
    File Purpose:       Show the Breadcrumb
    Recommendations:    -
    Nice to know:       Uses extension methods like GetHomePage() and GetBreadcrumb()
*@
@code {
    // The home page - never changes during runtime, so we can cache it
    private Page HomePage => _homePage ??= PageState.GetHomePage();
    private Page _homePage;
}

<div class="to-shine-page-breadcrumb" aria-label="breadcrumb">
    <div class="container py-2">
        <a class="to-shine-page-breadcrumb-link to-shine-page-breadcrumb-home" aria-current="page" 
           href="@NavigateUrl(HomePage.Path)">@HomePage.Name</a>
        @* Show a ... ellipsis in mobile mode to toggle showing the rest of the breadcrumb *@
        <span class="to-shine-page-breadcrumb-trigger">
            <a aria-current="page">…</a>
        </span>

        @* Show an > arrow and the page name with link to it for each page in the breadcrumb *@
        @foreach (var p in PageState.GetBreadcrumb())
        {
            <span>&nbsp;&rsaquo;&nbsp;</span>
            <a href="@NavigateUrl(p.Path)" class="to-shine-page-breadcrumb-link">@p.Name</a>
        }
    </div>
</div>