@inherits MagicBreadcrumbs
@*
File Purpose:       Show the Breadcrumb
Recommendations:    -
Nice to know:       Uses extension methods like GetHomePage() and GetBreadcrumb()
*@
<div class="theme-breadcrumbs" aria-label="breadcrumb">
    @* TODO: @2tl - combine with upper div? *@
    <div class="container py-2">
        <a aria-current="page" href="@NavigateUrl(HomePage.Path)">@HomePage.Name</a>
        @* Show a ... ellipsis in mobile mode to toggle showing the rest of the breadcrumb *@
        <span class="theme-breadcrumbs-trigger"></span>

        @* Show an > arrow and the page name with link to it for each page in the breadcrumb *@
        @foreach (var p in Breadcrumbs)
        {
            <span class="theme-breadcrumbs-separator"></span>
            <a href="@NavigateUrl(p.Path)">@p.Name</a>
        }
    </div>
</div>