@inherits MagicLogin
@*
File Purpose:       Show the Login/Logout text buttons
Recommendations:    -
Nice to know:       Inherits the LoginBase, which contains ChangeLogin and i18n for the label
See also:           LoginIcon.razor has the same feature but with icons
*@
<a class="@Classes("linkLogin-invisible")" @onclick="ChangeLogin">@LocalizedLabel</a>
