@using Microsoft.Extensions.Localization
@inherits LoginBase
@inject IStringLocalizer<Login> Localizer
@inject IStringLocalizer<Oqtane.SharedResources> SharedLocalizer

@if ( this.PageState.User != null && this.PageState.User.IsAuthenticated)
{
    <a class="to-shine-page-login d-none d-lg-inline-flex" @onclick="LogoutUser">@Localizer["Logout"]</a>
}
else
{
    <a class="to-shine-page-login d-none d-lg-inline-flex" @onclick="LoginUser">@SharedLocalizer["Login"]</a>
}