@using Microsoft.Extensions.Localization
@inherits LoginBase
@inject IStringLocalizer<Login> Localizer
@inject IStringLocalizer<Oqtane.SharedResources> SharedLocalizer

@if (PageState.User is {IsAuthenticated: true })
{
    <a class="to-shine-page-login d-none d-lg-inline-flex" @onclick="LogoutUser">@Localizer["Logout"]</a>
}
else
{
    <a class="to-shine-page-login d-none d-lg-inline-flex" @onclick="LoginUser">@SharedLocalizer["Login"]</a>
}