@using Microsoft.Extensions.Localization
@inherits LoginBase
@inject IStringLocalizer<Oqtane.SharedResources> SharedLocalizer
@*
    File Purpose:       Show the Login/Logout text buttons
    Recommendations:    -
    Nice to know:       Inherits the LoginBase, so it doesn't have any code to do login/logout
    See also:           LoginIcon.razor has the same feature but with icons
*@
@if (PageState.User is {IsAuthenticated: true })
{
    <a class="to-shine-page-login d-none d-lg-inline-flex" @onclick="LogoutUser">@SharedLocalizer["Logout"]</a>
}
else
{
    <a class="to-shine-page-login d-none d-lg-inline-flex" @onclick="LoginUser">@SharedLocalizer["Login"]</a>
}