@inherits ThemeControlBase
@*
    File Purpose:       Add the Oqtane Control Panel to the Page
    Recommendations:    -
    Nice to know:
        We had to add it to the page ourselves, 
        because the default implementation adds a bunch of buttons we don't want.
        -> See in the _oqtane-admin-buttons.scss file
*@
@if (PageState.UserIsAdmin())
{
    <div id="oqtane-control-panel">
        <ControlPanel ShowLanguageSwitcher="false"></ControlPanel>
    </div>
}