@inherits ThemeControlBase
@inject IFileService FileService

<a class="logo" href="" title="2shine Oqtane BS5 2sxc (change this in the ToShineLogo.razor)">
    <img alt="Logo" class="img-fluid" src="@ToShineUtilities.ImageUrl("logo-1000.png")">
</a>