@namespace ToSic.Oqt.Themes.ToShineBs5.Client.Controls

@inherits ThemeControlBase
@inject IFileService FileService

@if (file != null)
{
    <a class="logo" href="" title="2shine DNN BS5 2sxc (change this in the theme-body.ascx)">
        <img alt="Logo" class="img-fluid" src="@file.Url">
    </a>
}

@code {
    private File file = null;

    protected override async Task OnParametersSetAsync()
    {
        if (PageState.Site.LogoFileId != null && file?.FileId != PageState.Site.LogoFileId.Value)
        {
            file = await FileService.GetFileAsync(PageState.Site.LogoFileId.Value);
        }
    }
} 