@inherits ThemeControlBase
@inject IFileService FileService
@*
    File Purpose:       Contains the logo in the layout. 
    Recommendations:    We recommend to use an SVG for the logo.
    Nice to know:       The logo file must be in the wwwroot/Themes/.../ folder.
*@
<a class="logo" href="" title="2shine Oqtane BS5 2sxc (change this in the ToShineLogo.razor)">
    <img alt="Logo" class="img-fluid" src="@ToShineUtilities.ImageUrl("logo-1000.png")">
</a>