@using ToSic.Oqt.Themes.ToShineBs5.Client.Menu
@using ToSic.Oqt.Themes.ToShineBs5.Client.Default 

@inherits MenuBase

<header id="to-shine-page-header">
    <nav id="to-shine-page-navigation" class="navbar navbar-expand-lg bg-white">
      <div class="container">
        <ToShineLogo></ToShineLogo>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-start border-0" id="offcanvasNavbar">
          <div class="offcanvas-header">
            <ToShineLogo></ToShineLogo>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
          </div>
          <div class="offcanvas-body">
            <div class="d-flex flex-column justify-content-end align-items-end flex-grow-1">
              <div class="d-none d-lg-block">
                <NavEntry ParentPage="*" Levels="2" JsonConfigName=""></NavEntry>
              </div>

              <div class="d-block d-lg-none w-100">
                <NavEntry ParentPage="*" Levels="3" Variation="Mobile" JsonConfigName="Mobile"></NavEntry>
              </div>
              <div class="d-flex order-lg-first">
                <LanguageChanger Languages="en: EN,nl-NL: NL"></LanguageChanger><NavigationLoginButton></NavigationLoginButton><AdminButtons></AdminButtons>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    @*
        This div is only here because the control panel can't be used without the 
        buttons appearing and we need to be able to set the buttons to display:none
        -> See in the _oqtane-admin-buttons.scss file
    *@
    <div id="oqtane-control-panel">
        <ControlPanel ShowLanguageSwitcher="false"></ControlPanel>
    </div>
</header>