@namespace ToSic.Oqt.Themes.ToShineBs5
@inherits Oqtane.Themes.ContainerBase

<div class="to-shine-background-container py-4">
    <div class="to-shine-container">
        <ModuleActions/>
        <ModuleInstance/>
    </div>
</div>

@code {
    public override string Name => "Container for Designed Content - End-User will only see Content";
}