@namespace ToSic.Oqt.Themes.ToShineBs5.Client.Default
@inherits Oqtane.Themes.ContainerBase

<div class="to-shine-background-container py-4">
    <div class="container">
        <ModuleActions/>
        <ModuleInstance/>
    </div>
</div>

@code {
    public override string Name => "Container for Designed Content";
}