.to-shine-variation-fullscreen{
    #to-shine-page-headerpane{
        margin-top: 0;
    }
    #to-shine-page-footer{
        margin: 0;
        width: 100%;
        max-width: 100%;
        .footer-content-wrapper{
            max-width: 100%;
        }
    }
}
