.to-shine-variation-float-wide-header {
    #to-shine-page-header {
        margin-left: auto;
        margin-right: auto;

        @media(min-width:1400px) {
            max-width: 1600px;
        }
    }

    main {
        @media (min-width:1400px) {
            background-color: lightgray;
        }
    }

    #to-shine-page-main {
        @media(min-width: 1400px) {
            margin-top: -5vh;
        }
    }

    #to-shine-page-headerpane {
        max-width: 1600px;
        width: 100%;
        margin: 0 auto;
        padding-right: 0 !important;
        padding-left: 0 !important;

        @media (min-width: 992px) {
            min-height: 300px;
            background-image: linear-gradient(0deg, rgba(0, 29, 56, 0), rgb(0, 29, 56));
        }
    }
}
