@using ToSic.Oqt.Cre8Magic.Client.Styling
@inherits ToSic.Oqt.Cre8Magic.Client.Controls.MagicComponent
@code {

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Inject] protected IMagicThemeJsService? ThemeJs { get; set; }

    private bool PutInBody => Settings.Layout.MagicContextInBody == true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (PutInBody && ThemeJs != null) await ThemeJs.SetBodyClasses(Settings.MagicContext);
    }

}
@if (PutInBody)
{
    @ChildContent
}
else
{
    <div id="@Settings.Page.MagicContextTagId" class="@Settings.MagicContext">
        @ChildContent
    </div>
}
