<h1>Test many Menus</h1>

@code {
    public const string TopLevelWithSubpagesId = "29";
    //public const string TopLevelWithSubpagesId = "15";
}
@* This wrapper sets the style so the menu is row-focused*@
<div class="navbar-expand-lg">
    <h2>No Settings</h2>
    <h3>Basic Menu without Setting, name none</h3>
    <Menu></Menu>
    <hr/>

    <h2>Various Settings</h2>
    <h3>Only one specific page, no other params</h3>
    <Menu Start="@TopLevelWithSubpagesId"></Menu>
    <Menu MenuSettings="new() { Start = TopLevelWithSubpagesId }"></Menu>

    <h3>Only one specific page, LevelDepth = 0</h3>
    <Menu Start="@TopLevelWithSubpagesId" Depth="0" ></Menu>
    <Menu MenuSettings="new() { Start = TopLevelWithSubpagesId, Depth = 0 }"></Menu>

    <h3>Only one specific page @TopLevelWithSubpagesId, with Depth=1</h3>
    <Menu Start="@TopLevelWithSubpagesId" Depth="1"></Menu>
    <Menu MenuSettings="new() { Start = TopLevelWithSubpagesId, Depth = 1 }"></Menu>

    <hr/>
    <h2>Start at current level</h2>
    <h3>Current level only (should only show one page...)</h3>
    <Menu Start="." MenuId="Start-At-Current-Level-NoChildren"></Menu>
    <Menu MenuSettings='new() { Start = ".", Id="test2" }'></Menu>

    <h3>Current level with children</h3>
    <Menu Start="." Depth="1" MenuId="Start-At-Current-Level-Children"></Menu>
    <Menu MenuSettings='new() { Start = ".", Depth = 1, Id="test3" }'></Menu>

    <h3>Current level children only</h3>
    <Menu Start="." Children="true" Depth="0" Debug="true"></Menu>

    <h3>Parent level only</h3>
    <Menu Start="." Level="-1" Depth="0" Debug="true"></Menu>

    <h3>Parent level children only</h3>
    <Menu Start="." Level="-1" Children="true" Depth="0" Debug="true"></Menu>

    <h3>Current from Root Level 1, no children</h3>
    <Menu Start="." Level="1" Children="false" Depth="0" Debug="true"></Menu>
    <h3>Current from Root Level 1, children</h3>
    <Menu Start="." Level="1" Children="true" Depth="0" Debug="true"></Menu>
    <h3>Current from Root Level 1, no-children Depth 1</h3>
    <Menu Start="." Level="1" Children="false" Depth="1" Debug="true"></Menu>

    <h3>Current from Root Level 2</h3>
    <Menu Start="." Level="2" Children="true" Depth="0" Debug="true"></Menu>

    <hr/>
    <h2>Start with specific numbers</h2>
    <h3>Specific Pages Listed here (Home, myPage, Login)</h3>
    <Menu Start="1, 3, 5!" MenuSettings='new() { Start = "1, 3, 5!" }'></Menu>

    <h3>Specific Pages Listed here (Home, myPage, Login)</h3>
    <Menu ConfigName="Footer"></Menu>

    <hr/>
    <h2>Json Settings</h2>
    <h3>Basic Menu without Setting, name "Main"</h3>
    <Menu ConfigName="Main"></Menu>

    <h3>Basic Menu without Setting, name "Mobile"</h3>
    <Menu ConfigName="Mobile"></Menu>

    <h3>Basic Menu without Setting, name "Sidebar"</h3>
    <Menu ConfigName="Sidebar"></Menu>

    <hr/>
</div>