<h1>Test many Menus</h1>

@code {
    public const string TopLevelWithSubpagesId = "29";
    //public const string TopLevelWithSubpagesId = "15";
}
@* This wrapper sets the style so the menu is row-focused*@
<div class="navbar-expand-lg">
    <h2>No Settings</h2>
    <h3>Basic Menu without Setting, name none</h3>
    <Menu Debug="true"></Menu>
    <hr/>

    <h2>Various Settings</h2>
    <h3>Only one specific page, no other params</h3>
    <Menu Debug="true" Start="@TopLevelWithSubpagesId"></Menu>

    <h3>Only one specific page, LevelDepth = 0</h3>
    <Menu Debug="true" Start="@TopLevelWithSubpagesId" Depth="0"></Menu>

    <h3>Only one specific page @TopLevelWithSubpagesId, with Depth=1</h3>
    <Menu Debug="true" Start="@TopLevelWithSubpagesId" Depth="1"></Menu>


    <h2>Json Settings</h2>
    <h3>Basic Menu without Setting, name "Main"</h3>
    <Menu Debug="true" ConfigName="Main"></Menu>

    <h3>Basic Menu without Setting, name "Mobile"</h3>
    <Menu Debug="true" ConfigName="Mobile"></Menu>

    <h3>Basic Menu without Setting, name "Sidebar"</h3>
    <Menu Debug="true" ConfigName="Sidebar"></Menu>

    <hr/>
</div>