/* ---------- Breadcrumbs ---------- */
// This defines everything about the breadcrumb.
// It assumes that every breadcrumb will be wrapped in an element (usually <div>)
// with the class theme-breadcrumbs (notice the trailing s)

// Hide on Home
.page-is-home .#{$prefix-breadcrumbs} {
  display: none;
}

// General rules
.#{$prefix-breadcrumbs} {
  position: sticky;
  top: 82px;
  z-index: 10;
  background: $white;

  @include media-breakpoint-down(lg) {
    top: 58px;
  }

  a {
    color: $gray-600;
    white-space: pre-wrap;
    font-size: 14px;
    padding: 0 5px;

    &:hover {
      color: $primary;
    }

    // ??? always show home, even when collapsed?
    // TODO: @2ro / @2tl - change to use first-child, not more classes
    &:first-child
        // &.#{$prefix-breadcrumbs}-home
    {
      display: inline;

      @include media-breakpoint-up(md) {
        display: inline;
      }
    }
  }

  // TODO: @2ro / @2tl - this looks wrong, .last is never set. Should we use :last-child ?
  .last {
    a {
      color: $primary;
      display: inline-block;
    }
  }

  &.#{$prefix-breadcrumbs}-shortened {
    a {
      &.#{$prefix-breadcrumbs}-home {
        display: none;

        @include media-breakpoint-up(md) {
          display: inline;
        }
      }
    }
  }

  .#{$prefix-breadcrumbs}-trigger {
    cursor: pointer;
    display: inline;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  .#{$prefix-breadcrumbs}-separator::after {
    content: ' › ';
  }
  .#{$prefix-breadcrumbs}-trigger::after {
    content: '…';
  }
}
