/* ---------- Breadcrumbs ---------- */

// Hide on Home
.page-is-home .#{$prefixBreadcrumb} {
    display: none;
}

// General rules
.#{$prefixBreadcrumb} {
    position: sticky;
    top: 82px;
    z-index: 10;
    background: $white;

    @include media-breakpoint-down(lg) {
        top: 58px;
    }

    a /* .#{$prefixBreadcrumb}-link */ {
        color: $gray-600;
        white-space: pre-wrap;
        font-size: 14px;
        padding: 0 5px;

        &:hover {
            color: $primary;
        }

        // ??? always show home, even when collapsed?
        // TODO: @2ro / @2tl - change to use first-child, not more classes
        &:first-child
        // &.#{$prefixBreadcrumb}-home
        {
            display: inline;

            @include media-breakpoint-up(md) {
                display: inline;
            }
        }
    }

    .last {
        a /* .#{$prefixBreadcrumb}-link */ {
            color: $primary;
            display: inline-block;
        }
    }

    &.#{$prefixBreadcrumb}-shortened {
        .#{$prefixBreadcrumb}-link {
            &.#{$prefixBreadcrumb}-home {
                display: none;

                @include media-breakpoint-up(md) {
                    display: inline;
                }
            }
        }
    }

    .#{$prefixBreadcrumb}-trigger {
        cursor: pointer;
        display: inline;

        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    .#{$prefixBreadcrumb}-separator::after {
      content: " › ";
    }
    .#{$prefixBreadcrumb}-trigger::after {
      content: "…";
    }
    
}