@namespace ToSic.Oqt.Themes.ToShineBs5
@inherits Oqtane.Themes.ThemeBase
@inject NavigationManager NavigationManager
@using ToSic.Oqt.Themes.ToShineBs5.Client.Controls
@using ToSic.Oqt.Themes.ToShineBs5.Client.Menu;

<ToShineHeader></ToShineHeader>
<div id="to-shine-page-header-pane" class="container-xxl px-0">
    <Pane Name="Header" />
</div>
<main id="to-shine-page-main">

    @*Determins if the breadcrumb should be displayed*@
    @if (ShowBreadcrumb)
    {
        <ToShineBreadcrumb></ToShineBreadcrumb>
    }

    @*The admin pane is only needed to display the oqtane admin windows*@
    <Pane Name="@PaneNames.Admin" />

    @*Determins if the Sidebar should be inserted and where the Content pane should be inserted*@
    @if (ShowSidebarNavigation)
    {
        <div>
            <div class="row">
                <div class="col-xs-12 col-lg-9 order-lg-2 ly-col-contentpane">
                    <Pane Name="Content" />
                </div>
                <div class="col-xs-12 col-lg-3 order-lg-1 ly-col-leftpane">
                    <div id="nav-sub" class="d-none d-sm-block">
                        <NavEntry ParentPage="null" Variation="Sidebar" Levels="3"></NavEntry>
                </div>
                </div>
            </div>
        </div>
    }
    @if (ShowSidebarNavigation == false)
    {
        <Pane Name="Content" />
    }

    <ToShineToTop></ToShineToTop>
</main>
<ToShinePageFooter></ToShinePageFooter>