body {
    padding: 0;
    min-height: 100vh;
}

main {
    min-height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
#to-shine-page-header{
    flex-direction: column;
    padding: 0;
}
#to-shine-page-headerpane {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 0;

    @media (min-width:1400px) {
        max-width: 1320px;
        margin-top: 50px;
    }

    @media (min-width: 1200px) and (max-width:1399px) {
        max-width: 1140px;
    }

    @media (min-width: 992px) and (max-width:1199px) {
        max-width: 960px;
    }

    @media (min-width: 768px) and (max-width:991) {
        max-width: 720px;
    }

    @media (min-width: 576px) and (max-width:767px) {
        max-width: 540px;
    }
}
#to-shine-page-main {
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    flex: 1 0 auto;

    @media (min-width:1400px) {
        max-width: 1320px;
    }

    @media (min-width: 1200px) and (max-width:1399px) {
        max-width: 1140px;
    }

    @media (min-width: 992px) and (max-width:1199px) {
        max-width: 960px;
    }

    @media (min-width: 768px) and (max-width:991) {
        max-width: 720px;
    }

    @media (min-width: 576px) and (max-width:767px) {
        max-width: 540px;
    }
}
.page-is-home{
    #breadcrumbs{
        display: none;
    }
}