body {
    padding: 0;
    min-height: 100vh;
}

main {
    min-height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
#to-shine-page-header{
    flex-direction: column;
    padding: 0;
}
#to-shine-page-headerpane {
    @include media-breakpoint-up(xxl) {
        margin-top: 50px;
    }
}

#to-shine-page-main {
    background-color: white;
    width: 100%;
    flex: 1 0 auto;

    @include media-breakpoint-up(xxl) {
        margin-top: 50px;
    }
}
.page-is-home{
    #breadcrumbs{
        display: none;
    }
}