@media all {
    html {
        min-height: 100vh;

        body {
            overflow-y: scroll;
            min-height: 100vh;

            div {
/*                min-height: 100vh;
                display: flex;
                flex-direction: column;*/

                main#to-shine-page-main {
                    flex: 1 0 auto;
                }

                .container {
                    @include media-breakpoint-up(xxl) {
                        padding-left: 45px;
                        padding-right: 45px;
                    }
                }

                #dnn_ContentPane:last-child .co-container-outer.mb-md-5 {
                    margin-bottom: 0 !important;
                }

                div[id^="module-"] {
                    scroll-margin-top: 150px;
                }
            }
        }
    }
}