.to-shine-background-container {
    .to-shine-container {
        padding-right:45px;
        padding-left: 45px;

        @media(max-width: 1400px){
            padding-left: 15px;
            padding-right:15px;
        }
    }
}
