.offcanvas {

    #offcanvas-header {
        padding: 0 5px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #offcanvas-main {
        background-color: rgba(0,96,172,255); //rgba(var(--bs-primary-rgb),var(--bs-bg-opacity)) !important;
        height: 100%;
        padding-top: 40px;

        .offcanvas-item-wrapper {
            width: 100%;
            display: flex;
            align-content: center;
            background-color: rgba(0,96,172,255);
            justify-content: space-between;
            min-height: 40px;
            border-bottom: 2px solid white;

            .nav-link {
                width: 100%;
                color: #ccdfee;
                font-size: 20px;

                &.current-link {
                    color: white;
                }
            }
        }

        .offcanvas-inner-item-wrapper {
            background-color: rgba(0,58,103,255) !important;
            border-bottom: 1px solid cornflowerblue;
        }

        .collapse-trigger-button {
            min-width: 40px;
            min-height: 40px;
            background-color: rgb(0, 70, 128);
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: white;
            font-size: 20px;

            &::before {
                content: "-";
            }

            &.collapsed {
                &::before {
                    content: "+";
                }
            }
        }

        .offcanvas-language {
            margin-left: 15px;
            margin-top: 10px;

            .language-link {
                color: #ccdfee;
                padding-right: 5px;

                &.active {
                    color: white!important;
                }
            }
        }
    }
}
