@media all {
    // MENU animation and Hamburger
    .to-shine-mobile-hamburger {
        position: absolute;
        right: 15px;
        top: 0px;
        z-index: 1040;
        width: 40px;
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        overflow: hidden;

        @include media-breakpoint-up(md) {
            right: 25px;
        }

        @include media-breakpoint-up(lg) {
            display: none;
        }

        > div {
            width: 100%;
            position: relative;
            height: 18px;
        }

        span {
            display: block;
            background-color: $primary;
            position: absolute;
            width: 30px;
            height: 2px;
            border-radius: 4px;

            &:nth-child(1) {
                top: 0px;
                left: 0px;
            }

            &:nth-child(2) {
                top: 8px;
                left: 0px;
            }

            &:nth-child(3) {
                top: 16px;
                left: 0px;
            }
        }
    }



    /* Region Mobile Navigation (in Sidr) */

    .to-shine-nav-mobile {
        margin: calc($grid-gutter-width / 2) 0;

        &,
        ul {
            margin-left: 0;
            padding: 0;
        }
        /* default styling for all li */
        li {
            border-bottom: 1px solid rgba($body-bg, 1);
            list-style-type: none;

            a {
                transition: color 0.4s;
                color: rgba($white, 0.8);
                display: block;
                padding: 10px 40px 10px 15px;

                @include media-breakpoint-up(md) {
                    font-size: 20px;
                }

                &:hover,
                &:focus {
                    color: rgba($white, 1);
                    text-decoration: none;
                }
            }

            &.active > .to-shine-linkwrapper a {
                color: rgba($white, 1);
            }

            .to-shine-linkwrapper {
                position: relative;

                .to-shine-navopener {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: rgba($black, 0.3);
                    position: absolute;
                    right: 0;
                    width: 40px;
                    text-align: center;
                    top: 0;
                    bottom: 0;
                    cursor: pointer;

                    .to-shine-navopener-icon {
                        font-size: 20px;
                        font-family: sans-serif;
                        color: rgba($white,.8);


                        &:before {
                            content: "+";
                        }
                    }
                }
            }

            &.to-shine-active > .to-shine-linkwrapper {
                .to-shine-navopener {
                    .to-shine-navopener-icon {
                        &:before {
                            content: "–";
                        }
                    }
                }
            }

            li {
                border-bottom: 1px solid rgba($primary, 1);

                &.active {
                    .to-shine-nav-child {
                        display: block;
                    }
                }

                &.last {
                    border-bottom: none;
                }

                li {
                    a {
                        font-size: 0.85em;
                    }
                }
            }
        }
        /* level 1 */
        > li {
            &.active {
                > a {
                    color: $primary !important;
                }

                > .to-shine-nav-child {
                    display: block;
                }
            }
            /* mobilenavigation level 2 */
            > ul {
                background-color: rgba($black, 0.4);
                display: none;

                > li {
                    > .to-shine-linkwrapper > a {
                        padding-left: 25px;
                    }
                    /* mobilenavigation level 3 */
                    > ul {
                        display: none;
                        background: rgba($black, 0.3);

                        > li {
                            > .to-shine-linkwrapper > a {
                                padding-left: 35px;
                            }
                            /* mobilenavigation level 4 */
                            > ul {
                                display: none;
                                background: rgba($black, 0.3);

                                > li {
                                    > .to-shine-linkwrapper > a {
                                        padding-left: 45px;
                                    }
                                    /* mobilenavigation level 5+ */
                                    > ul {
                                        display: none;
                                        background: rgba($black, 0.3);

                                        > li {
                                            > .to-shine-linkwrapper > a {
                                                padding-left: 55px;
                                            }
                                            /* mobilenavigation level 5+ */
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
