@inherits Oqtane.Themes.ThemeControlBase
@code {
    [Parameter] public MagicMenuTree? Menu { get; set; }
}
@if (Menu != null && PageState.UserIsAdmin() && ((Menu as IHasSettingsExceptions)?.HasExceptions ?? false))
{
    <div class="alert alert-danger" role="alert">
        <strong>Menu loaded with exceptions (visible to Admins only)</strong>
        <ul>
        @foreach (var ex in Menu.Exceptions)
        {
            <li>@ex.Message</li>
        }
        </ul>
    </div>
}
