@namespace Oqtane.Themes.Controls
@inherits MenuBase

@if (MenuPages.Any())
{
@*    <div class="container d-flex justify-content-between align-items-center py-3">
        <ToShineLogo></ToShineLogo>
        <div class="to-shine-mobile-hamburger" data-bs-toggle="offcanvas" data-bs-target="#offcanvasStart" aria-controls="offcanvasStart" title="Menu">
            <div>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasStart" aria-labelledby="offcanvasTopLabel">
            <div class="offcanvas-header">
                <ToShineLogo></ToShineLogo>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body bg-primary px-0">
                <!--MenuItemsOffcanvas--><NavItemsMobile ParentPage="null" Pages="MenuPages"></NavItemsMobile>
                <!--LanguageNavigation-->
            </div>
        </div>
        <AdminOffcanvas></AdminOffcanvas>
        <nav id="nav-desktop" class="d-none d-lg-flex flex-column align-items-end">
            <div class="d-none d-lg-flex">
                <!--LanguageNavigation-->
                <NavigationLoginButton></NavigationLoginButton><AdminButtons></AdminButtons>
            </div>
            <!--NavItemsMain--><NavItemsMain ParentPage="null" Pages="MenuPages"></NavItemsMain>
        </nav>
    </div>*@
}

<nav id="to-shine-page-navigation" class="navbar navbar-expand-lg bg-white">
  <div class="container">
    <ToShineLogo></ToShineLogo>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-start border-0" id="offcanvasNavbar">
      <div class="offcanvas-header">
        <a class="navbar-brand" href="<%= DotNetNuke.Common.Globals.NavigateURL(PortalController.GetCurrentPortalSettings().HomeTabId) %>" title="2shine DNN BS5 2sxc (change this in the theme-body.ascx)">
          <img alt="Logo" class="logo img-fluid" src="<%=SkinPath%>images/logo.svg">
        </a>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body">
        <div class="d-flex flex-column justify-content-end align-items-end flex-grow-1">
          <div class="d-none d-lg-block">
            NavItemsMain
          </div>

          <div class="d-block d-lg-none w-100">
            NavMobileItems
          </div>

          <div class="d-flex order-lg-first">
            <LanguageChanger></LanguageChanger><NavigationLoginButton></NavigationLoginButton><AdminButtons></AdminButtons>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</nav>