@namespace ToSic.Oqt.Themes.ToShineBs5.Client.Layouts
@inherits ContainerBase
@inject NavigationManager NavigationManager
@*
    File Purpose:       Container for Modal Admin Dialogs
    Recommendations:    -
    Nice to know:       -
*@
<div class="app-admin-modal to-shine-admin-container">
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><ModuleTitle /></h5>
                    <button type="button" class="btn-close" aria-label="Close" @onclick="CloseModal"></button>
                </div>
                <div class="modal-body">
                    <ModuleInstance />
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public override string Name => "Admin Container";

    private void CloseModal() => NavigationManager.NavigateTo(NavigateUrl());
}