@namespace ToSic.Oqt.Themes.ToShineBs5.Client.Layouts
@inherits Oqtane.Themes.ContainerBase
@using System.Text.Json;
@using System.Text.RegularExpressions;

<div class="to-shine-background-container py-4 @ModulePublishState() module-@ModuleState.ModuleId">
    <div class="container">
        <ModuleActions/>
        <ModuleInstance/>
    </div>
</div>

@code {
    public override string Name => "Container for Designed Content";

    // Function to check if the module is published and assign the right class to it
    private string ModulePublishState()
    {
        var modulePermissions = ModuleState.Permissions;

        var moduleViewPermission = Regex.Match(modulePermissions, "{\\\"PermissionName\\\":\\\"View\\\",\\\"Permissions\\\":\\\".*\\\"}");

        var isPublished = moduleViewPermission.ToString().Contains("All Users");

        if (isPublished)
        {
            return "";
        } else
        {
            return "to-shine-unpublished";
        }
    }
}