@namespace ToSic.Oqt.Themes.ToShineBs5.Client.Layouts
@using ToSic.Oqt.Themes.ToShineBs5.Client.Services
@inherits Oqtane.Themes.ContainerBase
@*
    File Purpose:       Container for normal modules.
    Recommendations:    -
    Nice to know:       1. Will not show a title or anything, so it's really clean
                        2. Adds a special class to show that the module is not yet published
                        3. Has a background-container with another div which is the container which allows for cool full-width background CSS
                        4. When showing admin-modules, will automatically use the admin container
*@
@code {
    public override string Name => "Default Container";

    private ContainerCss ContainerCss { get; } = new();
}

@if (ModuleState.UseAdminContainer)
{
    <SystemContainer></SystemContainer>
}
else
{
    <div id="module-@ModuleState.ModuleId" class="to-shine-background-container py-4 @ContainerCss.Classes(ModuleState)">
        <div class="container">
            <ModuleActions/>
            <ModuleInstance/>
        </div>
    </div>
}