@namespace Oqtane.Themes.Controls
@inherits MenuItemsBase

<ul class="to-shine-nav to-shine-nav-sub">
    @foreach(var Page in GetChildPagesToShine())
    {
        var cssClasses = new List<string>();
        cssClasses.Add("nav-" + Page.PageId);
        if(Page.Order == 1){ cssClasses.Add("first"); }
        //last -> if(this.PageState.Site.)
        if(Page.HasChildren == true){ cssClasses.Add("has-child"); }
        if(PageState.Page.PageId == Page.PageId){ cssClasses.Add("active");  cssClasses.Add("ly-active"); } else { cssClasses.Add("inactive"); }
        var classString =  string.Join(" ", cssClasses);
        <li @classString>
            <div class="to-shine-linkwrapper">
                <a href="@GetUrl(Page)">@Page.Name</a>
                @if(Page.HasChildren == true)
                {
                    <div class="to-shine-navopener-icon">
                        
                    </div>
                }
            </div>
        </li>
    }
</ul>