/*layout centered*/
body.#{$prefix}-variation-centered,
// when using wrapper instead of body
div#cre8magic-root.#{$prefix}-variation-centered {
  header {
    background: transparent;
    .container {
      background: $white;
    }
  }

  main##{$prefix}-page-main,
  ##{$prefix}-page-header-pane,
  footer##{$prefix-footer},
  nav##{$prefix}-page-navigation {
    background: $white;
    width: 100%;
    margin: 0 auto;
    @include media-breakpoint-up(xxl) {
      max-width: 1320px;
    }
  }
  footer##{$prefix-footer} {
    background: rgb(0,131,201);
    background: linear-gradient(90deg, rgba(0,131,201,1) 0%, rgba(88,190,187,1) 100%);
  }
}
