@media all {
    /*layout full*/
    body.to-shine-variation-landingpage {
      background:$white;
      
      nav#to-shine-page-navigation {
        background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(255,255,255,0) 100%);
        position: fixed;
        top:0;
        left:0;
        width:100%;
      }
     
      footer#to-shine-page-footer {
        background: rgb(0,131,201);
        background: linear-gradient(90deg, rgba(0,131,201,1) 0%, rgba(88,190,187,1) 100%);
      }

      .to-shine-background-container {
        overflow: hidden;
      }
    }
  }
  