/*layout fullscreen*/
html {
  body.#{$prefix}-variation-fullscreen,
  // when using wrapper instead of body
  div#cre8magic-root.#{$prefix}-variation-fullscreen {
    background-color: $white;

    ##{$prefix}-page-header-pane {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    footer##{$prefix-footer} {
      background: rgb(0,131,201);
      background: linear-gradient(90deg, rgba(0,131,201,1) 0%, rgba(88,190,187,1) 100%);
    }
  }
}
