@namespace Oqtane.Themes.Controls
@inherits MenuBase

@if (MenuPages.Any())
{
    <nav class="container navbar navbar-expand-lg navbar-light py-3">
        <Logo/>
        <div class="to-shine-mobile-hamburger navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#toggleMobileMenu">
            <div>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="collapse navbar-collapse">
            <div class="navbar-language-controls">
                <LanguageChanger></LanguageChanger><NavigationLoginButton></NavigationLoginButton><AdminButtons></AdminButtons>
            </div>
            <MenuItemsHorizontal ParentPage="null" Pages="MenuPages"></MenuItemsHorizontal>
        </div>
    </nav>
    <AdminOffcanvas></AdminOffcanvas>
    <div class="offcanvas offcanvas-start" id="toggleMobileMenu">
        <div id="offcanvas-header" class="py-3">
            <Logo/><button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
        </div>
        <div id="offcanvas-main" class="">
            <MenuItemsOffcanvas ParentPage="null" Pages="MenuPages"></MenuItemsOffcanvas>
            <div class="offcanvas-language">
                <LanguageChanger></LanguageChanger>
            </div>
        </div>
    </div>
}
