@namespace Oqtane.Themes.Controls
@inherits MenuBase

@if (MenuPages.Any())
{
    @*<div id="centered-sidemenu">*@
        <MenuItemsSidebar ParentPage="null" Pages="MenuPages"></MenuItemsSidebar>
    @*</div>*@
}
